
/* HEADER */

header{
    height: 100px;
    background-color: #2C3E50;
}

.col{
    border: 1px solid white;
}

a{
    color: white;
}

/* JUMBOTRON */

#jumbotron{
    height: 500px;
    background-color: #1ABC9C;
}