
/* HEADER */

.bg-dark-header{
    background-color: #2C3E50;
}

a{
    color: white;
}

/* JUMBOTRON */

#jumbotron{
    min-height: 50px;
    background-color: #1ABC9C;
}

#jumbotron img{
    width: 40%;
}

/* PORTFOLIO */

#portfolio img{
    width: 100%;
}

/* ABOUT */

#about{
    background-color: #1ABC9C;
}

/* CONTACT */

#contact ::placeholder{
    color: rgb(36, 36, 36);
}

.bg-send{
    background-color: #1ABC9C;
}

/* FOOTER */

footer{
    background-color: #3A546D;
}

.footer-bottom{
    background-color: #2C3E50;
}

footer span{
    color: #1ABC9C;
}
