
/* HEADER */

header{
    height: 100px;
    background-color: #2C3E50;
}

.col{
    border: 1px solid goldenrod;
}

a{
    color: white;
}

/* JUMBOTRON */

#jumbotron{
    height: 500px;
    background-color: #1ABC9C;
}

/* PORTFOLIO */

#portfolio{
    height: 500px;
}

/* ABOUT */

#about{
    height: 500px;
    background-color: #1ABC9C;
}

/* CONTACT */

#contact{
    height: 500px;
}